.pdf__details__viewer {
	width: 650px !important;
	height: 500px !important;

	z-index: 50;
}

.react-pdf__Page__canvas {
	border-radius: 0 !important;
}

@media only screen and (max-width: 800px) {
	.pdf__details__viewer {
		width: 500px !important;
		height: 500px !important;
	}
}
