.react-pdf__Page__canvas {
	margin: 0 auto;
	width: 100% !important;
	height: 400px !important;
}

@media only screen and (max-width: 500px) {
	div.question-info {
		display: flex;
		flex-direction: column;
		justify-items: center;
		align-items: center;
	}
	div.question-info .mr-5 {
		margin-right: 0;
		margin-top: 10px;
		margin-bottom: 5px;
	}
	.threedot-edit {
		top: 1px;
	}
}
