.text-container {
	position: relative;
	overflow: hidden;
	white-space: nowrap;
}

.animated-text {
	position: absolute;
	animation: move-left 16s linear infinite;
	overflow: hidden;
	animation-fill-mode: both;
}

.animated-text:nth-child(1) {
	animation-delay: 0s;
	width: 100%;
}

.animated-text:nth-child(2) {
	animation-delay: 4s;
}

.animated-text:nth-child(3) {
	animation-delay: 8s;
}
.animated-text:nth-child(4) {
	animation-delay: 12s;
}

.text-container:hover .animated-text {
	animation-play-state: paused;
}

@keyframes move-left {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}
